.aptoInfo{

    span{
        padding-right: 12px;
    }
}

.container{
    width: 60%;
    margin: 2% auto;
  
}


.contacts{
    margin: 22px auto;
    
    a{  
        margin: 5px;
        color:#3e84bd !important;
        transition: 1.0s ease all;
    }:hover{
        
        
    }
}