<div class="ui two column relaxed equal height divided grid">
    <div class="column">
      <div class="ui small comments">
        <h3 class="ui dividing header">Comments</h3>
        <div class="comment">
          <a class="avatar">
            <img src="../../assets/images/pic1.jpeg">
          </a>
          <div class="content">
            <a class="author">Matt</a>
            <div class="metadata">
              <span class="date">Today at 5:42PM</span>
            </div>
            <div class="text">
              Hermoso
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
        <div class="comment">
          <a class="avatar">
            <img src="../../assets/images/pic3.jfif">
          </a>
          <div class="content">
            <a class="author">Elliot Fu</a>
            <div class="metadata">
              <span class="date">Yesterday at 12:30AM</span>
            </div>
            <div class="text">
              <p>He conseguido mi nuevo hogar !</p>
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
          <div class="comments">
            <div class="comment">
              <a class="avatar">
                <img src="../../assets/images/pic2.jfif">
              </a>
              <div class="content">
                <a class="author">Jenny Hess</a>
                <div class="metadata">
                  <span class="date">Just now</span>
                </div>
                <div class="text">
                  Felicidades!
                </div>
                <div class="actions">
                  <a class="reply">Reply</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comment">
          <a class="avatar">
            <img src="../../assets/images/dat_boi.jpg">
          </a>
          <div class="content">
            <a class="author">Joehma  Mah</a>
            <div class="metadata">
              <span class="date">5 days ago</span>
            </div>
            <div class="text">
             Donde estoy, ayuda.
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
        <form class="ui reply form">
          <div class="field">
            <textarea style="margin-top: 0px; margin-bottom: 0px; height: 112px;"></textarea>
          </div>
          <div class="ui blue labeled submit icon button">
            <i class="icon edit"></i> Add Reply
          </div>
        </form>
      </div>
    </div>
    

    <div id='contacto' class="column">
      <h3 class="ui header">Puedes encontrarnos adentro de Distritos Arcos</h3>
      <h4 class="ui header">Contactos directos : </h4>

      <div class="contacts">

        <a href=""><i class="facebook messenger icon"></i></a>
        <a href=""><i class="telegram plane icon"></i></a>
        <a href=""><i class="whatsapp icon"></i></a>
        
      </div>
     
      
     
     
      <img src="../../assets/images/maps.png" alt="">
    </div>
  </div>
