<div id='home'></div>
<div class="ui top fixed menu">
  <a class="item" href="#home">
    Inicio
  </a>
  <a class="item" href="#contacto">
    Contactos
  </a>
  
  
</div>

<div class="container-two">
  <div class="ui text container">
  <h1>Bienvenido, te acompañaremos en la busqueda de tu nuevo Hogar</h1>
  <div class="ui huge primary button">lorem Ipsum <i class="right arrow icon"></i></div>
  </div>
</div>

<h2 class="ui center aligned icon header" style="
padding-bottom: 50px;">
  <i class="circular users icon"></i>
  Podemos ayudarte a conseguir un lindo hogar! :)
</h2>


<app-cards></app-cards>