
@import "../styles.scss";


.menu{
    height: 9%;
    background: $dark-background;
    a{
        background-color: gray;
        width: 8%;
        color: $light-color;
        transition:0.9s all ease;
    }:hover{
        color:#3e84bd !important;
    }
}
.container{
    width: 100%;
    margin: 0 auto;
    height: 70px;
    
/*     background: rgb(255,255,255);
    background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(135,135,135,0.7035189075630253) 100%);
     */


    
    img{
        width: 5%;
        margin: 18px;
    }
    .nav-header {

       ul{
        list-style-type: none;
        display: flex;
        float: right;   


           li{
               padding: 12px;
               color:$light-color;
               transition: 0.9s;
           }

       }
    }
}

.container-two{
   /* filter: brightness(50%); */
    background: url('../assets/images/Fotoram.io.jpg');
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
/*     filter: blur(2px);
  -webkit-filter: blur(2px); */

    h1{
        z-index: 20px;
        font-size:30pt;
        text-align: center;
        padding-top:190px;
        color:#2c2c2c;
    }

    .button{
        width: 100%;
        margin: 20px auto;
    }
}


