<div id='home'></div>
<div class="ui top fixed menu">
  <a href="#home">
    <button class="ui inverted button">Inicio</button>
  </a>
  <a href="#contacto">
    <button class="ui inverted button">Contactos</button>
  </a> 
</div>

<div class="container-two">
  <div class="ui text container">
  <h1>Bienvenido, te acompañaremos en la busqueda de tu nuevo Hogar</h1>
</div>
</div>
<app-expensas></app-expensas>
<h2 class="ui center aligned icon header" style="
padding-bottom: 50px;">
  <i class="circular users icon"></i>
  Podemos ayudarte a conseguir un lindo hogar! :)
</h2>
<app-cards></app-cards>